<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-100">
  <body class="h-full">
  ```
-->
<div class="min-h-full">
  <header class="bg-white shadow">
    <div class="max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">Rick and Morty Web</h1>
      <a href="https://rickandmortyapi.com/">Using The Rick and Morty API</a>
    </div>
  </header>
  <main class="bg-[url('/assets/img/fondo_pagina.jpeg')] bg-cover bg-center min-h-screen">
    <div class="text-center pt-10">
      <h5 class="text-3xl font-bold tracking-tight text-neutral-50">Rick Sanchez</h5>
      <h2 class="text-neutral-50">Gender: Male</h2>

    </div>
    <div class="grid grid-cols-3 items-center justify-center mt-2">
      <div>
      </div> <!-- Columna vacía a la izquierda -->

      <div class="relative w-full max-w-full overflow-hidden">
        <div class="flex transition-transform duration-500 ease-in-out"
          [style.transform]="'translateX(-' + index * 100 + '%)'">
          <div class="min-w-full" *ngFor="let image of images; let i = index">
            <img [src]="image" [alt]="'Foto ' + (i + 1)" class="w-full">
          </div>
        </div>

        <button (click)="prevImage()"
          class="absolute top-1/2 left-4 transform -translate-y-1/2 bg-white text-black p-2 rounded-full hover:bg-gray-300">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
        </button>

        <button (click)="nextImage()"
          class="absolute top-1/2 right-4 transform -translate-y-1/2 bg-white text-black p-2 rounded-full hover:bg-gray-300">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
        </button>
      </div>

      <div>

      </div> <!-- Columna vacía a la derecha -->
    </div>
    <div class="text-center pt-2">
      <h2 class="text-neutral-50">Status</h2>
      <h2 class="text-3xl font-bold tracking-tight text-green-500 sm:text-4xl">Alive</h2>
      <p class="mb-10 text-lg leading-8 text-neutral-50">The location of this character is the Earth</p>
    </div>



  </main>
</div>